<div *ngIf="user" class="container">
  <h1 class="page-header" align="center"><img src="assets/img/avatar.png" alt="avatar" height="210px" width="200px"></h1>
  <hr>
  <table class="table table-striped table-hover">
    <tbody>
      <h2> Here is {{user.username}}'s profile...</h2>
      <tr>
        <td><b>Username: {{user.username}}</b></td>
      </tr>
      <tr>
        <td><b>Type: Regular</b></td>
      </tr>
      <tr>
        <td><b>Occupation: Known</b></td>
      </tr>
      <tr>
        <td><b>Nationality: Indian</b></td>
      </tr>
    </tbody>
  </table>
  <hr>
</div>